<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimi5</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <style>
        .nostyle {list-style:none; font-weight:bold; color: rgb(77, 9, 9)}
        .center {text-align:center;}
        .logo { height: 180px; width: 180px; }
        .square {
            height: 175px;
            width: 175px;
        }
        .gray {color:rgb(19, 68, 47);}
        ul.nav li {display:inline; border:bottom;}
        .container {padding:5px;}
        .no_show {display:none;}
    </style>
</head>
<body>
  <div class="container">
    <div class="row">
        
        <p><a class="button error" href="/">Please go back</a></p>
      
    </div>

</div>
</body>
</html>